body {
    margin: 0;
    padding: 0;

    background-image: url(./image/fond1.avif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    height: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    
}

.logo {
    width: 120px;
    margin-top:40px;
    position: sticky;

}

.logo img {
    width: 100%;
    border-radius: 70%;
}


.barnav {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-weight: bold;
    padding-left: 0%;
    font-size: 20px;
}

.barnav a:hover {
    background-color: rgba(165, 42, 42, 0.537);
    border-radius: 10%;
    border: solid;
    padding: 15px;
    transition: transform 0.5s ease;
}


.icon {
    padding: 0%;
    text-transform: uppercase;
}

.barnav a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}



.first {
    display: flex;
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    background: linear-gradient(to right, bisque, rgb(238, 233, 227));
    border: solid rgba(211, 184, 143, 0.219);
    margin: 50px;
    margin-top: 50px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    line-height: 1.2;

   
}


.first div:hover .img1 img {
    transform: scale(1.5);
}

.img1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
}

.img1 img {
    width: 600px;
    height: 450px;
    object-fit: cover;

}

.intro {
    background-color: rgba(255, 228, 196, 0.452);
    margin-left: 20px;
    padding-left: 20px;
    border-left: solid;
    text-align: justify;
    justify-content: left;
    padding: 50px;
    font-size: 25px;
   
}

.titre{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

h1 {
    display: inline-block;
    border:solid black;
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;   
    gap: 15px;
    padding: 25px;
    background-color: rgba(241, 237, 232, 0.735);
    box-shadow: 
        5px 5px 0px #cb861e,
        10px 10px 0px #6d5310,
        15px 15px 0px #041216;
    z-index: 1;
    
}
h1:hover{
    transform: rotate(10deg);
}

h2 {
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 30px;
    text-transform: uppercase;   
}
.second h2 {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    border:solid black;
    font-size: 25px;
    text-transform: uppercase;   
    gap: 15px;
    padding: 20px;
    background-color: rgba(241, 237, 232, 0.735);
    box-shadow: 
    5px 5px 0px #cb861e,
        10px 10px 0px #6d5310,
        15px 15px 0px #041216;
}

.intro p {
    font-size: 25px;
}

.second {
    background: linear-gradient(to right, antiquewhite, rgba(235, 231, 223, 0.529));
    text-align: center;
    filter: drop-shadow(0 0 0.75rem rgb(185, 172, 138));
    padding-top: 10px;
}

.second-textp {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
}

h3 {
    text-transform: uppercase;
    font-size: 25px;
}

.article-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

}

.art-img h3:hover {
    color: brown;
    transition: transform 0.5s ease;
    font-weight: bold;
}

.art-img a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.art-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: solid rgb(199, 165, 122);
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    

}

.art-img p {
    font-size: 25px;
    padding: 6px;
    line-height: 1.2;

}

.art-img {
    background-color: rgba(245, 245, 220, 0.692);
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 25%;
    border-width: 10px;
   
}

.art-img:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
footer{
    background: linear-gradient(to right, bisque, white);
    padding-bottom: 50px;
}
.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    border-top: solid rgba(192, 183, 183, 0.411);
    align-items: flex-start;
    background: linear-gradient(to right, bisque, white);

}

.footer a:link {
    color: rgba(0, 0, 0, 0.788);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;

}

.footer section {

    border-left: solid rgba(31, 30, 30, 0.219);
    margin: auto;
    width: 30%;
}

.footer h2 {
    font-size: 15px;
}

.flogo {
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: solid rgba(19, 19, 19, 0.541);
    margin: auto;
}

.flogo img {
    width: 20%;
}


.logoend {
    width: 80px;
    margin-top: 0;
    padding-top: 0;
    margin-right: 1%;
    padding-bottom: 1%;
    position: absolute;
    right: 0;
}

.logoend img {
    width: 100%;
    border-radius: 70%;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}



@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    .barnav {
        display: none;
    }

    .first {
        flex-direction: column;
        align-items: center;
    }

    .img1 img {
        max-width: 400px;
        max-height: 500px;
    }

    .second {
        flex-direction: column;
        align-items: center;
     
    }

    .article-content {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin: 20%;
        

    }

    .art-img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }


    .end {
        flex-direction: column;
        align-items: center;
    }

    .logoend {

        position: unset;

    }

}