body {
    margin: 0;
    padding: 0;

    background-image: url(/asset/image/fond2.avif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    height: 120px;
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));

}

.logo {
    width: 120px;
    margin-top: 40px;
    position: sticky;

}

.logo img {
    width: 100%;
    border-radius: 70%;
}


.barnav {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-weight: bold;
    padding-left: 0%;
    font-size: 20px;
}

.barnav a:hover {
    background-color: rgba(165, 42, 42, 0.537);
    border-radius: 10%;
    border: solid;
    padding: 15px;
    transition: transform 0.5s ease;
}


.icon {
    padding: 0%;
    text-transform: uppercase;
}

.barnav a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.titre {
    display: flex;
    justify-content: center;
   
   
}

h1 {
    align-items: center;
    border: solid black;
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgba(241, 237, 232, 0.582);
    box-shadow:
        5px 5px 0px #5a3c0e,
        10px 10px 0px #6d5310,
        15px 15px 0px #041216;
    z-index: 1;
    margin-top: 20px;
}

h1:hover {
    transform: rotate(10deg);
}

.contact{
    background-color:rgba(255, 255, 255, 0.308);
    margin: 100px;
   
}
.contactinfo {
    text-align: center;
    margin: 50px;
    padding: 40px;
    margin:50px;
    border-radius: 10%;
}

.contactus{
    text-align: center;

    border-radius: 10%;
   
}

.box{
    display: flex;
    justify-content: space-around;
}
.button{

}




footer {
    background: linear-gradient(to right, bisque, white);
    padding-bottom: 50px;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    border-top: solid rgba(192, 183, 183, 0.411);
    align-items: flex-start;
    background: linear-gradient(to right, bisque, white);

}

.footer a:link {
    color: rgba(0, 0, 0, 0.788);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    list-style-type: none;

}

.footer section {

    border-left: solid rgba(31, 30, 30, 0.219);
    margin: auto;
    width: 30%;
}

.footer h2 {
    font-size: 15px;
}

.flogo {
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: solid rgba(19, 19, 19, 0.541);
    margin: auto;
}

.flogo img {
    width: 20%;
}


.logoend {
    width: 80px;
    margin-top: 0;
    padding-top: 0;
    margin-right: 1%;
    padding-bottom: 1%;
    position: absolute;
    right: 0;
}

.logoend img {
    width: 100%;
    border-radius: 70%;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}




@media screen and (max-width: 900px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    .barnav {
        display: none;
    }

    .box {
        flex-direction: column;
        align-items: center;
    }

    .first {
        flex-direction: column;
        align-items: center;
    }

    .second {
        flex-direction: column;
        align-items: center;
    }

    .picture {
        width: 65%;
    }

    .colomne-caroussel {
        max-height: 100%;

    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .end {
        flex-direction: column;
        align-items: center;
    }

    .logoend {

        position: unset;

    }

    .video iframe {
        width: 100%;
    }

}



@media screen and (max-width: 900px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    .barnav {
        display: none;
    }



    footer {
        flex-direction: column;
        align-items: center;
    }

    .end {
        flex-direction: column;
        align-items: center;
    }

    .logoend {

        position: unset;

    }


}