body{
    margin: 0;
    padding:0;
    background: linear-gradient(to right, bisque, white);
}
header{

    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    height: 115px; 
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
}
.logo {
    width:130px;
   
}

.logo img{
    width: 100%;
    border-radius: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:90px

    
}

.barnav {
    display:flex;
    gap:50px;
    list-style-type: none;
    font-weight: bold;
    text-align: center;  
    padding-left: 0%;
    font-size: 20px;
    
}

.barnav a:hover {
    color: brown;
    transition: transform 0.5s ease;
}
.icon{
    padding:0%;
    text-transform: uppercase;

}

.barnav a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    
     
}

.derouleur a:hover {
    color: brown;
    background-color: antiquewhite;
    border: solid;
    border-radius: 10%;
    padding: 10%;
    margin: 0px;
    transition: 0.3s ease;
    
}

.derouleur {
    list-style-type: none;
    background-color: bisque;
    border-radius: 10%;
    display: none;
    position: absolute;
    padding-left: 0%;
    
}

.derouleur li {
    padding: 15px
}

.barnav>.icon:hover .derouleur {
    display: block;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./IMAGE/fond1.avif); 
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5; 
    z-index: -1;
   
}
h1{
    margin-top: 70px;
    font-size: 40px;
    margin-left: 20px;
    text-align: left;
    margin-left: 150px;
    text-transform: uppercase;   
}
.first{
 
    background: linear-gradient(to right, bisque, rgb(245, 217, 217));
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    width: 60%;
   
}
.testi{ 
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 80px;
    
}

.html{
    
    text-align:justify;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 20px;
    line-height: 1.5;
}


.bureau {

    width: 30%;
     padding-bottom: 30px;
  
 }
 .bureau img{
     width: 100%;
     height: 800px;
     object-fit: cover;
     border: solid black;
 }


 .colomne{

    display: flex;
    justify-content: space-between;
   
}
.colomne-caroussel {
    display: flex;
    flex-direction: column; 
    background-color: rgba(8, 8, 8, 0.952);
    min-width: 100px;
    max-width: 100px;
    max-height: 700px; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.colomne-caroussel img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    flex-shrink: 0; 
    animation: defilementBasHaut 30s linear infinite;
    animation-direction: alternate;
    transition: transform 0.5s ease; 
    opacity: 0.9;
    
}
@keyframes defilementBasHaut {
    0% {
        transform: translateY(100%); 
    }
    100% {
        transform: translateY(-100%); 
    }
}


.colomne-caroussel:hover img {
    transform: scale(1.2); 
}


.setup {

   width: 80%;
    padding-bottom: 30px;
 
}
.setup img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    border: solid black;
}



 .testisd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    margin: 50px;
 }

 .second {

    background: linear-gradient(to right, bisque, rgb(245, 217, 217));
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
    text-align:justify;
 }

 .htmlsd {
    display: flex;
    background-color: rgba(245, 245, 220, 0.87);
    
 }
 h2{
    text-transform: uppercase;
    font-size: 30px;
 }

 .second h2 {
    margin-left: 50px;
      

 }

 .second p{
    text-align:justify;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 20px;
    line-height: 1.5;

 }


.video {
    display: flex;
    padding-top:40px;
    justify-content: center;
    filter: drop-shadow(0 0 0.75rem rgb(138, 122, 78));
 
}
.jeux{
    display: flex;
}


.jeux ul{
    list-style-type: none;
    margin-right: 100px;
    text-transform: uppercase;
    line-height: 1.7;
    

}

.jeux a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
    
}
.jeux a:hover{
    background-color: rgba(51, 41, 159, 0.579);
    padding: 15px;
    border-radius: 20%;
}


.footer{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    border-top: solid rgba(192, 183, 183, 0.411);
    align-items: flex-start;
    margin-bottom: 20px;

}    
.footer a:link {
    color: rgba(0, 0, 0, 0.788);
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    list-style-type: none;
    
}
.footer section{
    
    border-left: solid rgba(31, 30, 30, 0.219);
    margin: auto;
    width: 30%;
        
}
.footer h2{
    font-size: 20px;
}
.flogo {
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: solid rgba(19, 19, 19, 0.541);
    margin: auto;

}
.flogo img{
    width: 20%;
    
}


.logoend {
        width:80px;
        margin-top: 0;
        padding-top:0;
        margin-right: 1%;
        padding-bottom: 1%;
        position: absolute;
        right: 0;

    }
    
.logoend img{
        width: 100%;
        border-radius: 70%;
    }

 .end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
 }


 @media screen and (max-width: 900px){

    header{
        flex-direction:column;
        align-items: center;
    }
    .barnav{
        display: none;
    }
    .testi{
        flex-direction:column;
        align-items: center;
    }
    .first{
        flex-direction:column;
        align-items: center;
    }
    .testisd{
        flex-direction:column;
        align-items: center;

    }
.htmlsd{
   height: 1000PX;
}
    
    .second{
        flex-direction:column;
        align-items: center;
    }
    .colomne-caroussel {
        max-height: 100%;
        
    }
    footer {
        flex-direction:column;
        align-items: center;
    }

   
    .end{
        flex-direction:column;
        align-items: center;
    }
    .logoend {
      
        position: unset;

    }
    .video iframe{

       width: 100%;
    }

}
   
   
   
  
  